extends layouts/main-layout.pug
   
block content
    h1 Chat
    if errorMessage
        span.errorMessage #{errorMessage}
    else
        script.
            var chatId = '!{chat._id}';
        
        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                each user in chat.users
                    if user.username !== userLoggedIn.username
                        span#chatName #{user.username}
            
            .mainContentContainer
                .chatContainer
                    ul.chatMessages
                    .footer
                        textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane
block scripts 
    script(src="/js/chatPage.js") 
