:root{
    --green1: #33FF77;
    --green2: #5CFF92;
    --black: #141414;
}

html, body {
    height: 100%;
    min-height: 100%;
}
h1 {
    color: #33FF77;
    text-align: center; 
}

h2 {
    color: #33FF77;
    text-align: center; 
}

ul {
    color: #33FF77;
    text-align: center; 
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #141414;
}

a{
    color: #33FF77;
    text-decoration: none;
}

a:hover{
    color: #22ab50;
    transition: 0.2s;
}

nav {
    padding-top: 10%;
    display: flex-end;
    flex-direction: column;
    align-items: flex;
    height: 80%;
}

.topnav{
    display: flex;
    justify-content: flex-end;
    

}

.topnav a{
    color: #33FF77;
    text-decoration: none;
    padding: 20px;
    font-weight: bolder;
    font-size: 30px;
}

.topnav a:hover{
    color:#22ab50;
}

nav a{
   display: block;
   padding: 20px; 
   font-size: 55px;
   width: 55px;
   display: flex;
   text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper > .row {
    margin: 0;
    height: 100%;
}

.mainSectionContainer{
    margin-top: 50px;
    padding: 0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    flex-direction: column;
}

.postFormContainer {
    display: flex;
    padding: 20px;
    flex-shrink: 0;
}

.userImageContainer {
    width: 50px;
    height: 50px;
}
.userImageContainer img {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    width: 100%;
    border-radius: 50%;
}

.textareaContainer {
    flex: 1;
    padding-left: 20px; 
}

.textareaContainer #postTextArea {
    width: 100%;
    resize: none;
    font-size: 19px;
    color: white;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: 1px solid #33FF77;
}

#replyTextArea {
    width: 100%;
    resize: none;
    font-size: 19px;
    color: white;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: 1px solid #33FF77;
}

.textareaContainer #postScore {
    width: 30%;
    resize: none;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: 1px solid #33FF77;
}

.textareaContainer #postArtist {
    width: 30%;
    resize: none;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: 1px solid #33FF77;
    margin-left: 5%;
}

.textareaContainer #postAlbum {
    width: 30%;
    resize: none;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: 1px solid #33FF77;
    margin-left: 5%;
}

#submitPostButton {
    background-color: #33FF77;
    color: #141414;
    border-radius: 40px;
    border: none;
    padding: 7px 15px;
}

#submitPostButton:hover{
    background-color: #22ab50;
    transition: 0.2s;
}

#submitPostButton:disabled{
    background-color: #82f5a8;
    opacity: 0.7;
    
}

.post {
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #3d3d3d;
    border-top: 1px solid #3d3d3d;
    flex-shrink: 0;
}

.mainContentContainer{
    flex: 1;
    display: flex;
}

.postContentContainer{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
}

.date {
    color: white;

}

.postFooter {
    display: flex;
    align-items: center;
}

.postFooter .postButtonContainer {
    flex: 1;
    display: flex;

}

.postButtonContainer button {
    padding: 2px 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

.postButtonContainer.green button.active{
    color:#33FF77;
}


.postButtonContainer.red button.active{
    color:red;
}

.postButtonContainer.green button  :hover{
    color: #33FF77;
    transition: 0.2s;
}

.postButtonContainer.comments button  :hover{
    color: #33FF77;
    transition: 0.2s;
}

.postButtonContainer.red button  :hover{
    color: red;
    transition: 0.2s;
}

.postButtonContainer button i:active{
    pointer-events: none;
}

.modal-content{
    background-color: #141414;
    color:#33FF77;
}

.modal-content #submitReplyButton{
    background-color: #33FF77;
    color:#141414;
    border-radius: 40px;
    border: none;
}

.modal-content #submitReplyButton:hover{
    background-color: #22ab50;
    transition: 0.2s;

}

.replyFlag {
    margin-bottom: 5px;
}

.scoring {
    margin-right: 10px;
    font-size: 20px;
}

.profileHeaderConainer .coverPhotoSection {
    height: 180px;
    background-color: #3d3d3d;
    position: relative;

}

.profileHeaderConainer .userImageContainer {
    height: 132px;
    width: 132px;
    min-height: 132px;
    min-width: 132px;
    margin-left: 20px;
    position: absolute;
    bottom: -66px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderConainer .userImageContainer img{
    height: 132px;
    width: 132px;
    min-height: 132px;
    min-width: 132px;
    border: 4px solid #33FF77;
}

.profileButtonsContainer {
    text-align: right;
    padding: 20px;
    min-height: 66px;
}

.profileButton {
    display: inline-block;
    font-size: 25px;
}

.followButton {
    border: 2px solid #33FF77;
    background-color: #33FF77;
    text-decoration: none;
    color: #141414;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    margin-left: 20px;
}

.followButton:hover {
    background-color: #22ab50;
    text-decoration: none;
    border-color: #22ab50;
    transition: 0.2s;
}

.followButton.following {
    text-decoration: none;
    color: #33FF77;
    background-color: #141414;
}

.followButton.following:hover {
    text-decoration: none;
    color: #22ab50;
    background-color: #141414;
}

.profileHeaderContainer, .userDetailsContainer {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.followersContainer .value{
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value){
    margin-right: 5px;
    color: white;
}

.followersContainer a {
    margin-right: 15px;
}

.tabsContainer{
    display: flex;
    border-bottom: 2px solid white;

}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

}

.tab:hover {
    color: #33FF77;
    transition: 0.2s;

}

.tab.active {
    color:#33FF77;
}

.profilePictureButton,
.coverPhotoButton{
    position: absolute;
    font-size: 50px;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
    display: block;
}

.coverPhotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.coverPhotoContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#imagePreview,
#coverPreview {
    display: block;
    width: 100%;
    max-width: 100%;
}

.searchBarContainer {
    position: relative;
    padding: 20px;

}

.searchBarContainer i{
    position: absolute;
    top: 30px;
    left: 25px;
    color: #33FF77;

}

.searchBarContainer #searchBox {
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 40px;
    font-size: 19px;
    color: white;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: 1px solid #33FF77

}

.resultsContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer .user {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #3d3d3d;
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 20px;
}

.titleContainer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 19px;
}

.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.chatTitleBar {
    border-bottom: 1px solid #3d3d3d;
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
}

.chatTitleBar label {
    color: white;
    margin-right: 10px;
}

#userSearchTextbox {
    flex: 1;
    min-width: 350px;
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color: #3d3d3d;
    border: 1px solid #33FF77
}

#createChatButton {
    border: none;
    background-color: #33FF77;
    color: black;
    padding: 7px 20px;
    margin: 10px 10px;
    border-radius:40px;
    display: inline-block;
}

#createChatButton:disabled {
    background-color: #82f5a8;
    opacity: 0.7;

}

.selectedUser {
    font-weight: bold;
    color:#33FF77;
    padding: 5px;
    margin: 5px 5px 0 0;
    display: inline-block;
}

.resultListItem {
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3d3d3d;
    
}

.resultListItem:hover {
    background-color: #3d3d3d;
}

.resultDetailsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.resultDetailsContainer .heading {
    font-weight: bold;
}

.resultDetailsContainer .subtext {
    color: white;
    font-size: 14px;
}

.resultListItem img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.resultImageContainer {
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.groupChatImage img {
    height: 65%;
    width: 65%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border: 2px solid #33FF77;
}

.groupChatImage img:first-of-type {
    top: 0;
    right: 0;
}

.chatTitleBarContainer {
    color: white;
    border-bottom: 1px solid #3d3d3d;
    display: flex;
    align-items: center;
    padding: 20px;
}

#chatName {
    border: 1px solid transparent;
    padding: 0 5px;
    color: #33FF77;
    font-weight: bold;
}

.chatContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
}

.chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
}

.chatContainer .footer {
    display: flex;
    padding: 20px;
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: #3d3d3d;
    border: 1px solid #33FF77;
    border-radius: 18px;
    padding: 8px 12px;
    height: 38px;
    color: white;
}

.chatContainer .footer button {
    background-color: transparent;
    color: #33FF77;
    font-size: 24px;
    border-color: transparent;
}

.chatContainer .footer button:hover {
    color: #22ab50;
    transition: 0.2s;
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #33FF77;
    border-radius: 50%;
    margin-left: -10px;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #141414;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
    margin-left: -10px;
}
#chatNameTextbox {
    background-color: #3d3d3d;
    border: 1px solid #33FF77;
    border-radius: 18px;
    color: white;
    padding: 8px 12px;
    width: 100%;
}

.chatMessages .message {
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    /*-webkit-flex: 0;*/
}

.chatMessages .message .messageBody {
    background-color: white;
    padding: 15px 25px;
    border-radius: 18px;
    font-size: 15px;
    color: black;
}

.chatMessage .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.chatMessages .message.mine {
    flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
    background-color: #33FF77;
    color: black;
}

.senderName {
    font-weight: bold;
    padding-bottom: 10px;
}





